<div class="row">

    <div class="col-xs-12">
        <img src="" alt="" class="image-responsive">
    </div>

</div>
<div class="row">
<div class="col-xs-12">
    <h1>Recipie Name </h1>
</div>
</div>

<div class="row">
    <div class="col-xs-12 justify-content-end">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">
                    Manage Recipie Making 
                    <span class="carcet"></span>
            </button>
            <ul class="dropdown-menu">
                <li> <a href="#">Add Ingredient</a></li>
                <li> <a href="#">Edit Recipie</a></li>
                <li> <a href="#">Delete Recipie</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
<div class="col-xs-12">
Description
</div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>