<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipie </button>
    </div>
</div>
<hr>

<div class=" list-group col-xs-12">
    
        <a href="#" class="list-group-item d-flex" *ngFor = "let recipie of recipies" >  
        <div class="col-xs-8 me-auto">
            <h4 class="list-group-item-heading"> {{recipie.name}}</h4>
            <p class="list-group-item-text">{{recipie.description}}</p>
            
        </div>    
            
        <div class="col-xs-4 me-0">
    
            <img src="{{recipie.img}}" alt="{{recipie.name}}" class="image-responsive me-0" style="max-height: 50px;">
    </div>
    
        </a>

    
<app-recipe-item></app-recipe-item>
</div>



